.main-page {
  min-height: 95vh;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 130px;
    background-color: #f3f9fa;
    padding: 30px;
    margin-bottom: 3%;
    h1 {
      display: inline;
      margin: 0;
    }
    .btn-add-project {
      display: inline;
      button {
        text-indent: 0;
        border: none;
        background-color: #0080d6;
        box-shadow: none;
        height: 35px;
        color: #fff;
        cursor: pointer;
        border-radius: 2%;
        a {
          color: #fff;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
  .projects-list {
    margin-bottom: 50px;
  }
}
