/* .main-wrapper{
    width: 35vw;
    margin: auto;
    height: 70vh;
    box-shadow: 0px 0px 13px -5px  #768894;
    position: relative;
}

.busines-info{
    color: #000;
    width: 60%;
    margin:auto;
    padding-top: 15%;
    text-align: left;
    font-weight: 500;
}

h1{
    font-size: 15px;
    margin-bottom: 14%;
    font-weight: 500;
}

input::-webkit-calendar-picker-indicator {
    display: none;
  
}

.btn-submit{
    margin-top: 20%;
}

.close {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 15px;
    height: 32px;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
    opacity: 0.7;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
   

 */
body {
  background-color: #fff;
  color: #000;
}
