.supplier-item {
  width: 30vw;
  margin: 5% auto;
  height: 65vh;
  box-shadow: 0px 0px 13px -5px #768894;
  position: relative;
  font-weight: bolder;

  form {
    color: #000;
    width: 60%;
    margin: auto;
    padding: 5%;
    text-align: left;
    font-weight: 500;
    border-radius: 1%;
    font-size: 13px;

    h1 {
      font-size: 15px;
      margin-bottom: 12%;
      font-weight: 500;
      text-align: center;
    }

    input {
      display: block;
      margin-top: 5px;
      margin-bottom: 20px;
      width: 100%;
      border: 0px;
      background-color: #f3f6f9;
      box-shadow: 0 4px 2px -2px#dee5ed;
      height: 28px;
      font-family: sans-serif;
      text-indent: 1em;
      font-weight: bold;

      &:focus {
        box-shadow: 0 4px 2px -2px#c2dbed;
        outline: none;
      }

      &::placeholder {
        font-weight: normal;
        height: 28px;
      }
    }
  }
  .close {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 15px;
    height: 32px;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: #333;
    opacity: 0.7;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
