.starter-layout {
  height: 100vh;
  background-color: #163656;
  .logo {
    padding-top: 5%;
    padding-bottom: 2%;
    img {
      display: block;
      margin: auto;
      width: 10vw;
    }
  }
}
